PRF/inventario_wms/xAsm/FlexCore/DataComponentList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://flexcore/dal/v1/DataComponentList">
  <xs:element name="DataComponentList" >
    <xs:complexType>
      <xs:sequence>
          <xs:element name="SchemaInfo"/>
          <xs:element name="AdditionalNamespaces">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Namespace" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataComponents">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataComponent" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:any minOccurs="0" maxOccurs="unbounded" />
                  </xs:choice>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="database" type="xs:string" use="required" />
                  <xs:attribute name="skipClassDefinition" type="xs:string" use="optional" default="false" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>